
.social_network {
    background-color: black;
    width: 100%;
    padding: 20px 120px;

    .links {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a {
            margin-right: 20px;
            color: white;
            font-weight: bold;
        }
    }
}