.langues {
    

    .header_langues {
        padding: 5%;
        height: 35vh;

        background-color: rgba(0, 0, 0, 0.733);
        position: relative;

        h3 {
            position: absolute;
            bottom: 0;
            left: 0;

            text-transform: uppercase;
            color:white;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 20px;
            font-weight: bold;
            padding: 30px;
        }
    }

    .col-md-4 {
        margin-bottom: 10px;
        
        a {
            color: black;
        }

        .img-container {
    
          overflow: hidden;
          position: relative;
    
          &:hover span,
          span:hover {
            visibility: visible;
            transform: translateY(0);
          }
    
          img {
            overflow: hidden;
            object-fit: cover;
            object-position: 0%;
            height: auto;
            width: 100%;
            overflow: hidden;
            // position: absolute;
            transition: 0.4s ease-out;
            position: relative;
    
            &:hover,
            span:hover img {
              transform: scale(.9);
              filter: opacity(15%) contrast(150%);
            }
          }
          span {
            position: absolute;
    
            bottom: 20px;
            left: 0;
            width: 100%;
            padding: 1rem;
            margin: 0 auto;
            line-height: 30px;
            font-size: 1.5rem;
            visibility: hidden;
            transition: 0.5s ease;
            // transform: translateY(200px);
    
            h3 {
              padding: 10px;
              text-align: center;
            }
            
            p {
              text-align: center;
              font-size: 13px;
              padding: 10px;
            }
          }
        }
        img {
          height: auto;
          width: 100%;
          overflow: hidden;
        }
    }

}