.services {

    img {
        height: auto;
        width: 100%;
    }
    h2 {
        border-bottom: 2px solid crimson;
        padding-bottom: 10px;
    }

    .col-md-6 {
        svg {
            margin-right: 8px;
            color: crimson;
        }
    }

    h4 {
        font-size: 18px;
    }
}